<nav
  class="navbar navbar-expand-lg bg-body-tertiary shadow sticky-top d-nolne"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <app-logo scale="0.8"></app-logo>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @for (page of pages; track $index) {
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="{{ page }}"
            >{{ page }}</a
          >
        </li>
        }
      </ul>
      <div>
        @if(account.userName){
        <small class="text-light">{{ account.userName }}</small>

        }@else {
        <button class="btn btn-sm btn-1 me-2 login" routerLink="login">
          Log in
        </button>
        <button class="btn btn-sm btn-2" routerLink="signup">Sign up</button>
        }
      </div>
    </div>
  </div>
</nav>
